/* External fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


/* Main parameters */

main {
    min-height: 600px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #3E2723;
}

#main_content {
    margin: 10px 30px 0 70px;
    display: flex;
    flex-direction: column;
}

/* Sidebar */


aside {
    display: flex;
    flex-direction: column;
    background-color: #81D4FA;
    height: inherit;
    min-width: 260px;
    max-width: 320px;
}

.img_container {
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    border: 4px solid #29B6F6;
    border-radius: 150px 150px;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #81D4FA;
    background-color: #3E2723;
}

.aside_content {
    margin-bottom: 10px;
}

.aside_content span {
    margin : 0 30px;
}

.contact
{
    display : flex;
    flex-direction: column;
}

.contact span {
    font-weight: bold;
}

.about p {
    margin: 0 30px;
    text-align: justify;
}

.hobbies {
    margin-top: auto;
}

.hobbies_logos {
    display: flex;
    justify-content: center;
}

.hobbies_logos i {
    font-size: 2em;
    border: 1px solid #3E2723;
    border-radius: 1em 1em;
    padding: 0.5em;
    margin: 0 10px;
}

/* Title header */

header
{
    margin: 75px 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 3.2em;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

#firstname {
    color: #81D4FA;
}

#lastname {
    color: #3E2723;
}

hr {
    margin: 0;
    width: 95px;
    height: 3px;
    background-color: #81D4FA;
    border: none;
}

/* Contenus */


section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.content_header {
    display: flex;
    margin-bottom: 10px;
}

.content_header i {
    padding: 0;
    font-size: 3em;
}

.content_header h3 {
    padding: 0;
    margin: 0 30px;
    font-size : 2em;
}

section hr{
    width: auto;
}

.content_element {
    display: flex;
    justify-content: space-between;
    margin-top : 30px;
}

.element_date {
    display: flex;
    align-items: flex-start;
    width: 25%;
    min-width: 200px;
}

.element_date i{
    font-size : 0.5em;
    padding-top: 6px;
    margin-right : 10px;
}

section :nth-child(3) .element_date i{
    font-size : 1.3em;
    padding-top : 3px;
}

.element_date p {
    margin: 0;
    font-weight: bold;
}


.element_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.element_description :nth-child(1){
    font-size : 1.4em;
    font-weight: bold;
    padding-bottom : 5px;
}

.referral{
    margin-top: 20px;
    display :flex;
}

.referral_element {
    display: flex;
    flex-direction: column;
    width : 50%;
}

.referral_element :first-child {
    font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 720px) {

    main {
        max-width: unset;
        flex-direction: column-reverse;
        word-break: break-word;
    }

    #main_content {
        margin: 0px 5px;
    }

    aside {
        flex-wrap: wrap;
        max-width: unset;
        min-width: unset;
    }

    .aside_content {
        padding-bottom: 15px;
    }

    h4 {
        margin: 0 0 15px 0;
    }

    .contact {
        text-align: center;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.2em;
    }

    header {
        margin-top: 25px;
        margin-left: 15px;
    }

    .content_header {
        justify-content: center;
    }

    .img_container {
        position: absolute;
        top: 5px;
        right: 5%;
        width: 100px;
    }

    img {
        width: 100%;
    }

    section {
        padding-bottom: 25px;
    }

    .element_date {
        min-width: unset;
    }

    .hobbies {
        margin-top: unset;
    }

    .content_header i {
        font-size: 2em;
    }

    .content_header h3 {
        padding: 0;
        margin: 0 30px;
        font-size: 1.5em;
    }

    @media all and (max-width: 390px) {

        main {
            font-size: 0.7em;
        }
        .img_container {
            top: 5px;
            right: 5px;
            width: 60px;
        }
        
        img {
            border: none;
        }

        h1 {
            font-size: 1.4em;
        }

        h2 {
            font-size: 1em;
        }

        .content_header h3 {
            font-size: 1.2em;
        }

        .content_header i {
            font-size: 1.4em;
        }

        .element_description :nth-child(1) {
            font-size: 1em;
        }

        h4 {
            font-size: 1.3em;
        }

        hr {
            height: 2px;
        }

        .referral {
            flex-direction: column;
            align-items: center;
        }

        .referral_element {
            width: auto;
            padding-bottom: 10px;
            text-align: center;
        }
    }

}