/* External fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


/* Main parameters */

main {
    min-height: 600px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #3E2723;
}

#main_content {
    margin: 10px 30px 0 70px;
    display: flex;
    flex-direction: column;
}

/* Sidebar */


aside {
    display: flex;
    flex-direction: column;
    background-color: #81D4FA;
    height: inherit;
    min-width: 280px;
    max-width: 320px;
}

.img_container {
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    border: 4px solid #29B6F6;
    border-radius: 150px 150px;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #81D4FA;
    background-color: #3E2723;
}

.aside_content {
    margin-bottom: 10px;
}

.aside_content span {
    margin : 0 30px;
}

.contact
{
    display : flex;
    flex-direction: column;
}

.contact span {
    font-weight: bold;
}

.about p {
    margin: 0 30px;
    text-align: justify;
}

.hobbies {
    margin-top: auto;
}

.hobbies_logos {
    display: flex;
    justify-content: center;
}

.hobbies_logos i {
    font-size: 2em;
    border: 1px solid #3E2723;
    border-radius: 1em 1em;
    padding: 0.5em;
    margin: 0 10px;
}

/* Title header */

header
{
    margin: 75px 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 3.2em;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

#firstname {
    color: #81D4FA;
}

#lastname {
    color: #3E2723;
}

hr {
    margin: 0;
    width: 95px;
    height: 3px;
    background-color: #81D4FA;
    border: none;
}

/* Contenus */


section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.content_header {
    display: flex;
    margin-bottom: 10px;
}

.content_header i {
    padding: 0;
    font-size: 3em;
}

.content_header h3 {
    padding: 0;
    margin: 0 30px;
    font-size : 2em;
}

section hr{
    width: auto;
}

.content_element {
    display: flex;
    justify-content: space-between;
    margin-top : 30px;
}

.element_date {
    display: flex;
    align-items: flex-start;
    width: 25%;
    min-width: 240px;
}

.element_date i{
    font-size : 0.5em;
    padding-top: 6px;
    margin-right : 10px;
}

section :nth-child(3) .element_date i{
    font-size : 1.3em;
    padding-top : 3px;
}

.element_date p {
    margin: 0;
    font-weight: bold;
}


.element_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.element_description :nth-child(1){
    font-size : 1.4em;
    font-weight: bold;
    padding-bottom : 5px;
}

.referral{
    margin-top: 20px;
    display :flex;
}

.referral_element {
    display: flex;
    flex-direction: column;
    width : 50%;
}

.referral_element :first-child {
    font-weight: bold;
}

/* Media queries */

@media all and (max-width: 960px){

    main {
        max-width: unset;
        flex-direction: column-reverse;
    }

    #main_content {
        margin: 0px 5px;
    }

    aside {
        flex-direction: row;
        max-width: unset;
    }

    header {
        margin-top : 5px;
        margin-left: 15px;
    }

    .img_container
    {
        position: absolute;
        top: 20px;
        right: 10%;
        width: 150px;
    }

    img {
        width: 100%;

    }

    .element_date {
        min-width: unset;
    }

    .hobbies {
        display: none;
    }

    @media all and (max-width: 610px)
    {
        .img_container {
            display:none;
        }

        aside {
            flex-direction: column;
        }
    }

}